@import url("https://fonts.googleapis.com/css2?family=Judson&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #efefef;
}

.container {
  width: 80%;
  background-color: #eeecec;
  margin: 50px auto;
  font-family: "Judson", serif;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 50px black;
}

.icon-bar {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 3rem;
  border-bottom: 2px solid #d9d9d9;
}

.input-part {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.logo {
  margin: 10px;
  /* padding: 5px; */
  height: 50px;
  width: 50px;
  border-radius: 15px;
  box-shadow: -1px 1px 5px;
}

.input-part select {
  width: 188px;
  height: 40px;
  background-color: #d9d9d9;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px;
  font-family: "Bellota", cursive;
  /* font-family: "Judson", serif; */
  font-size: 1.1rem;
}

.search-input {
  margin-left: 20px;
  width: 300px;
  height: 40px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.search-input input {
  border: none;
  background-color: inherit;
  outline: none;
  padding: 10px;
}

.search-input img {
  width: 30px;
  height: 30px;
  margin: 1rem;
}

.support-number {
  margin-left: 20px;
  text-align: right;
}

.number {
  font-size: 1.2rem;
  font-weight: 600;
}

.support {
  font-size: 0.8rem;
}

.icons img {
  padding: 10px;
}

nav {
  margin-top: 1rem;
  margin-left: 4rem;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px 50px;
}

.button {
  background-color: #d9d9d9;
  width: 309px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Judson", serif;
  font-style: italic;
  border-radius: 5px;

  font-weight: 400;
  font-size: 1.3rem;
}
.button p {
  margin-left: 1rem;
}
.navbar {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: rgb(0, 0, 0, 0.7);
}
li {
  display: inline-block;
  margin-left: 1rem;
}

header {
  margin-top: 20px;
  /* height: 350px; */
  padding: 2rem 5rem;
  background-image: url("./images/stock.jpg");
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.essentials {
  background-color: #d5dee5;
  width: 800px;
  height: 300px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;

  /* margin-left: 7rem; */
}

.Essential-text {
  padding: 20px;
  font-style: italic;
  letter-spacing: 0.3px;
  font-size: 2rem;
  font-weight: 400;
}

.ligthing {
  width: 400px;
  height: 300px;
  background-color: #ffc868;
  margin-left: 3rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
}
.ligthing img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}
.ligthing p {
  width: 80%;

  float: right;
  padding: 2rem;
  margin-bottom: -200px;
  direction: rtl;
  line-height: 1.3;
  font-style: italic;
}

.categorySection {
  background-color: #aea08d;
}
.category-part{
  padding: 2rem;
}

.browseCategory{
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.part {
  width: 350px;
  height: 350px;
  margin: 1rem;
  padding: 1rem 2px 1rem 1rem;
  border-radius: 10px;
  background-color: rgba(238, 236, 236, 0.86);
  box-shadow: 2px 2px 50px black;
}
.part img {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 10px;
  border-radius: 2rem;
  position: relative;
}
.part p {
  font-family: "Josefin Slab", serif;
  font-weight: 500;
}

.ProductSection {
  background-color: #d5dee5;
}

.product-part {
    padding: 2rem;
  }

.browseProduct {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product {
  width: 350px;
  height: 300px;
  margin: 1rem;
  background-color: #d9d9d9;
  text-align: center;
  box-shadow: 2px 2px 20px black;
  border-radius: 10px;
}
.product img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  border: 10px;
  object-fit: cover;
  position: relative;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #aea08d;
  padding: 2rem;
}

.expert {
  width: 50%;
  padding: 2rem;
  font-family: "Bellota", cursive;
}
.lookForExpert {
  font-size: 2rem;
  line-height: 1.3;
}
span {
  color: #f37705;
}

.leaveInfo {
  margin-top: 1rem;
  font-family: "Judson", serif;
}

.formSection {
  width: 40%;
  font-size: 1.5rem;
}

.formSection input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.5rem 0;
  font-size: 1rem;
}

.formElement {
  margin: 1.5rem 1rem;
}

.submit {
  background-color: #d9d9d9;
  width: 12rem;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  font-style: italic;
  margin-left: 1rem;
}

.copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
}
.policy {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.policy a {
  /* text-decoration: none; */
  color: black;
  /* border-bottom: 1px solid; */
}
